{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

        <h2 class="govuk-heading-m">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Live Service Area
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['live-services-area'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Which Service or system is affected
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['dynamic-service-list'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the notification channel?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['notification-channel'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did the issue start?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['issue-start-date-day'] }}  - {{ data['issue-start-date-month'] }}  - {{ data['issue-start-date-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Has this issue happened before
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['occurred-previously'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the business priority level
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['business-priority'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the availability of the service
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['Available/Unavailable'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many users are impacted
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['Impacted-users'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What were you doing?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['explanation-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>




            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What did you expect to happen?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['explanation-2'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What did happen?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['explanation-3'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Screenshots/evidence
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['file-upload-1'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Additional info
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['more-detail'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Assyst
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['assyst'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    CE-OCC
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['CE-OCC'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Who is the DSM
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['who-is-the-DSM'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Who is the business contact
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['who-is-the-business-contact'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="/confirmation" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Accept and send
            </button>

        </form>
    </div>
</div>
{% endblock %}
