{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="impact">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="evidence" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="explanation-1">
                    <h1 class="govuk-heading-xl">What were you doing</h1>
                </label>
                <textarea class="govuk-textarea" id="explanation-1" name="explanation-1" rows="5" aria-describedby="explanation-1-hint"></textarea>
            </div>
        </form>





        <form class="form" action="/url/of/next/page" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="explanation-2">
                    <h1 class="govuk-heading-xl">What did you expect to happen?</h1>
                </label>
                <textarea class="govuk-textarea" id="explanation-2" name="explanation-2" rows="5" aria-describedby="explanation-2-hint"></textarea>
            </div>
        </form>





        <form class="form" action="evidence" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="explanation-3">
                    <h1 class="govuk-heading-xl">What did happen?</h1>
                </label>
                <textarea class="govuk-textarea" id="explanation-3" name="explanation-3" rows="5" aria-describedby="explanation-3-hint"></textarea>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
    </div>
</div>

{% endblock %}
